
@keyframes opacity_animation{
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}



@keyframes button_animation{
  0% , 100% {
      transform: translate(-206px, -76px) scale(1) ;
  }
  50% {
      transform: translate(-206px, -76px) scale(.8) ;
  }
}

