p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

body {
    html[dir="ltr"] & {
        font-family: Arial;
    }
        html[dir="ltr"] & {
        font-family: 'Almarai';
    }
    // background-color: rgba($gray-color, .7);
    // background-color: rgba($blue-color, .7);
    // background: $min-color;
    background: linear-gradient(190deg, rgba(255, 255, 255, 1) 0%, $gray-color 100%);
    padding: 0 20px 60px 20px;
    position: relative;
    height: 100vh;
    z-index: 1;
    &:after {
        opacity: 0.1;
        background-image: url("../img/bodyback.png");
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 100%;
        z-index: -1;
    }
}

input {
    display: block;
    width: 100%;
    border: 1px solid $black-color;
    &::placeholder{
        font-size: 14px;

    }
    &:focus {
        outline: none;
        border: 1px solid $min-color;
        box-shadow: unset !important;
    }
}

button {
    border: 0;
    cursor: pointer;
    border-radius: 50px;

    &:focus {
        outline: none;
        box-shadow: unset !important;
    }
}

// select2

.select2 {
    width: 100% !important;
}

.select2-container {
    .select2-selection--single {
        height: 36px;
        display: flex;
        align-items: center;
    }

    .select2-selection__arrow {
        top: 5px !important;
    }
}

.pretty {
    cursor: pointer;

    .state {
        label {
            &:before,
            &:after {
                top: 0 !important;
                html[lang="ar"] & {
                    left: unset;
                    right: 0;
                }
            }
        }
    }
}

.status_active {
    color: $green-color;
}

.status_disactive {
    color: $sub-color;
}

.status_inProssec {
    color: $gold-color;
}

// links

.Customm0 {
    margin: 0 -15px;
}

.pretty {
    &.p-default {
        input {
            &:checked {
                & ~ .state {
                    label {
                        &:after {
                            background-color: rgba($min-color, 1) !important;
                        }
                    }
                }
            }
        }
    }
}


.lang-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .lang_content{
        border-radius: 4px;
        padding: 2px 4px;
        border: 1px solid rgba($min-color, 1);
        a{
            border-radius: 4px;
            display: inline-block;
            padding: 4px 8px;
            color: rgba($min-color, 1);
            &.active{
                color: rgba($white-color, 1);
                background-color: rgba($min-color, 1);

            }
        }
    }
}