.sucond_table {
    margin: 0 0 20px;
    tbody {
        td {
            background-color: $gray-color;
            border: 1px solid #00000030;
            border-collapse: collapse;
            &.has_link {
                background-color: transparent;
                padding: 2px !important;
            }
        }
    }
}

table.dataTable thead th,
table.dataTable tfoot th,
table.dataTable tbody th,
table.dataTable tbody td {
    font-size: 13px;
}

.dataTables_wrapper {
    overflow-x: auto;
}

td.details-control {
    background: url("../img/details_open.png") no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url("../img/details_close.png") no-repeat center center;
}

.dataTable {
    tr {
        border-bottom: 1px solid #00000030;
        .pop_up_opener {
            cursor: pointer;

            i {
                color: $min-color;
            }
        }
    }
    .table_link {
        font-size: 12px;
        font-weight: 500;
        color: $white-color;
        background-color: $min-color;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        border-radius: 4px;
        @extend%trans-4;
        &:hover {
            background-color: $sub-color;
        }
    }
}

.data-label {
    .item-box {
        align-items: center;
        display: flex;
        cursor: pointer;
        .img-box {
            margin: 0 10px;
            width: 25px;
            height: 25px;
            box-shadow: 0 3px 1px -2px rgba($black-color, 0.2), 0 2px 2px 0 rgba($black-color, 0.14), 0 1px 5px 0 rgba($black-color, 0.12);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .item-name {
            color: #183444;
            font-weight: 500;
            text-overflow: ellipsis;
            font-size: 14px;
        }
    }
}

.prag-table {
    font-size: 12px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.4em;
    padding-right: 8px;
    white-space: normal;
    font-weight: 400;
    display: block;
    width: 100%;
    white-space: wrap;
}

.show_lable {
    // display: flex;
    select {
        width: 19px;
        border: 0;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        * {
            width: 50px;
            padding: 5px;
            border: 0;
        }
    }
}

.th_content {
    display: flex;
}


.tipped-box {
    height: 100%;
    padding: 20px;
    border-radius: 30px;
    hr {
        margin: 0 -65px !important;
    }
    .title-box {
        .img-box {
            margin: 0 10px 0 0;
            img {
                width: 80px;
                height: 80px;
                object-fit: contain;
            }
        }
        .title-item-box {
            .title-item {
                font-size: 18px;
                font-weight: 600;
            }
            .prag-item {
                padding: 10px 0;
                font-weight: 500;
                font-size: 14px;
                display: inline-block;
            }
            .list-item {
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: rgb(0, 0, 97);
                    font-weight: 600;
                    margin: 0 10px;
                }
            }
        }
    }

    .number-box {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        .number-item-box {
            text-align: start;
            .number-title-item {
                font-size: 16px;
                font-weight: 600;
                color: rgba(51, 51, 51, 0.918);
                display: block;
                margin: 0 0 6px;
            }
            .number-item {
                color: rgba(0, 47, 90, 0.795);
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    .button-box {
        padding: 20px 0 0;
        display: inline-block;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 12px 15px;
            @extend%bordR4;
            background-color: rgb(0, 69, 134);
            font-weight: 600;
            font-size: 16px;
            color: rgba($white-color, 1);
            span {
                display: inline-block;
            }
            i {
                margin: 0 6px;
                font-size: 14px;
                border-radius: 50%;
                border: 2px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
        }
    }
}


.table-box {
    padding: 20px;
}