

// var
$white-color:#fff;
$black-color:#000;
$min-color:#1e3056;
$blue-color:#486fc4;
$bluelight-color:#ebf7fb;
$blueclear-color:blue;
$sub_color:#ba2c63;
$gold-color: #fab118;
$gray-color: #ddd;
$darkgray-color: #333;
$green-color: rgb(2, 204, 2);

// var


$ar_font: 'Almarai', sans-serif;
$en_font: 'Arial', sans-serif;;




