

// var
$white-color:#fff;
$black-color:#000;
$min-color:#1e3056;
$blue-color:#486fc4;
$sub_color:#ba2c63;
$gold-color: #fab118;
$gray-color: #ddd;
$darkgray-color: #333;
$green-color: rgb(2, 204, 2);

// var


$min_font: 'Cairo', sans-serif;
$en_font: 'Roboto', sans-serif;;




