p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: Arial;
  background: linear-gradient(190deg, white 0%, #ddd 100%);
  padding: 0 20px 60px 20px;
  position: relative;
  height: 100vh;
  z-index: 1;
}

body:after {
  opacity: .1;
  background-image: url("../img/bodyback.png");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.en_text {
  font-family: "Roboto", sans-serif;
  font-weight: 600 !important;
}

.m_b10 {
  margin: 0 0 10px;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: 1px solid #1e3056;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 50px;
}

button:focus {
  outline: none;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.logo-box {
  text-align: center;
}

.logo-box .logo-link img {
  height: 60px;
}

.buttom_style {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid #1e3056;
  color: #fff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #1e3056;
  margin: 10px 0 0;
}

.buttom_style i {
  font-size: 14px;
}

.buttom_style:hover {
  color: #fff;
  border-color: #ba2c63;
  background-color: #ba2c63;
}

.form_style .form-group {
  margin: 4px 0;
}

.form_style .form-group label {
  display: block;
  font-size: 14px;
  color: #1e3056;
  font-weight: 500;
  margin: 0 0 4px;
}

.form_style .dropify-wrapper {
  height: 60px;
}

.form_style .dropify-wrapper .dropify-wrapper {
  height: 40px !important;
}

.select2 {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2-container .select2-selection__arrow {
  top: 5px !important;
}

.pretty {
  cursor: pointer;
}

.pretty .state label:before, .pretty .state label:after {
  top: 0 !important;
}

html[lang="ar"] .pretty .state label:before, html[lang="ar"] .pretty .state label:after {
  left: unset;
  right: 0;
}

.status_active {
  color: #02cc02;
}

.status_disactive {
  color: #ba2c63;
}

.status_inProssec {
  color: #fab118;
}

.small_link {
  font-size: 12px;
  font-weight: 400;
  color: #ba2c63;
  font-family: "Roboto", sans-serif;
}

.small_link:hover {
  color: #1e3056;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 48, 86, 0.4);
  z-index: 99;
  display: none;
}

.sucond_table {
  margin: 0 0 20px;
}

.sucond_table tbody td {
  background-color: #ddd;
  border: 1px solid #00000030;
  border-collapse: collapse;
}

.sucond_table tbody td.has_link {
  background-color: transparent;
  padding: 2px !important;
}

table.dataTable thead th, table.dataTable tfoot th, table.dataTable tbody th, table.dataTable tbody td {
  font-size: 13px;
}

.dataTables_wrapper {
  overflow-x: auto;
}

td.details-control {
  background: url("../img/details_open.png") no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url("../img/details_close.png") no-repeat center center;
}

.dataTable tr {
  border-bottom: 1px solid #00000030;
}

.dataTable tr .pop_up_opener {
  cursor: pointer;
}

.dataTable tr .pop_up_opener i {
  color: #1e3056;
}

.dataTable .table_link {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #1e3056;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  border-radius: 4px;
}

.dataTable .table_link:hover {
  background-color: #ba2c63;
}

.data-label .item-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.data-label .item-box .img-box {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.data-label .item-box .img-box img {
  width: 100%;
  height: 100%;
}

.data-label .item-box .item-name {
  color: #183444;
  font-weight: 500;
  text-overflow: ellipsis;
  font-size: 14px;
}

.prag-table {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  padding-right: 8px;
  white-space: normal;
  font-weight: 400;
  display: block;
  width: 100%;
  white-space: wrap;
}

.tabes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9eff5;
  margin: 0 0 10px;
}

.tabes-box .tabs-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 0 0;
  padding: 24px;
  position: relative;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.tabes-box .tabs-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tabes-box .tabs-item .tab-title {
  font-size: 16px;
  color: #183444;
  font-weight: 500;
}

.tabes-box .tabs-item:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 10px;
  z-index: 2;
  opacity: 0;
}

.tabes-box .tabs-item.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tabes-box .tabs-item.active .tab-title {
  font-size: 16px;
  font-weight: 590;
}

.tabes-box .tabs-item.active:after {
  opacity: 1;
}

.tabes-box .tabs-item svg {
  height: 16px;
  fill: #183444;
  padding: 0 4px;
}

.subscriptions_section {
  padding: 60px 0 0;
}

.subscriptions_section .subscriptions_min_box {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.subscriptions_section .subscriptions_min_box .min_title_box {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscriptions_section .subscriptions_min_box .min_title_box.one_item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscriptions_section .subscriptions_min_box .min_title_box .title {
  font-size: 22px;
  font-weight: 600;
  color: #1e3056;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box {
  padding: 10px 0 0;
  -webkit-box-shadow: 0 3px 8px 0px rgba(30, 48, 86, 0.3);
          box-shadow: 0 3px 8px 0px rgba(30, 48, 86, 0.3);
  border-radius: 4px;
  overflow: hidden;
  margin: 5px 0;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 10px 0px rgba(30, 48, 86, 0.5);
          box-shadow: 0 3px 10px 0px rgba(30, 48, 86, 0.5);
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content {
  padding: 10px;
  text-align: center;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content img {
  height: 66px;
  margin: 0 0 22px;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .title_text {
  color: #1e3056;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .title_text i {
  font-size: 20px;
  padding: 0 3px;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .title_text .text {
  font-size: 20px;
  font-weight: bold;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .number_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .date_title {
  color: #1e3056;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .date_title i {
  font-size: 14px;
  padding: 0 3px;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .subscriptions_box_content .date_title .text {
  font-size: 16px;
  font-weight: 500;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .button_box a:last-of-type {
  border-right: 1px solid #fff;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 6px 2px;
  background-color: #1e3056;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link:hover {
  background-color: #ba2c63;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.red-one {
  background-color: rgba(186, 44, 99, 0.9);
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.red-one:hover {
  background-color: #ba2c63;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.green-one {
  background-color: rgba(72, 111, 196, 0.9);
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.green-one:hover {
  background-color: #1e3056;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.gold-one {
  background-color: rgba(250, 177, 24, 0.7);
  font-weight: 600;
  color: #1e3056;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link.gold-one:hover {
  background-color: #fab118;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link .text_title {
  font-size: 16px;
}

.subscriptions_section .subscriptions_min_box .subscriptions_box .box_link .number_text {
  font-size: 14px;
  font-weight: 600;
}

.buttom_style, .small_link, .dataTable .table_link, .subscriptions_section .subscriptions_min_box .subscriptions_box, .subscriptions_section .subscriptions_min_box .subscriptions_box .box_link, .add-popup .popup-box .item-continer-box .item-box li, .add-popup .popup-box .item-continer-box .item-box li .title-lable, .add-popup .popup-box .item-continer-box .item-box li i, .add-popup .popup-box .item-continer-box .item-box .min-list li, .add-popup .popup-box .item-continer-box .item-box .min-list li .title-lable, .add-popup .popup-box .item-continer-box .item-box .min-list li i {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.table-box {
  padding: 20px;
}

.add-popup {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-popup .popup-box {
  -webkit-box-shadow: 0px 3px 5px 1px #1e305659;
          box-shadow: 0px 3px 5px 1px #1e305659;
  border-radius: 5px;
  width: 600px;
  overflow: hidden;
  background-color: white;
}

.add-popup .popup-box .title-box {
  background-color: #1e3056;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
  text-align: center;
}

.add-popup .popup-box .title-box i {
  cursor: pointer;
}

.add-popup .popup-box .input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px 30px;
  background-color: #dddddd;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

.add-popup .popup-box .input-bar label {
  padding: 0 4px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.add-popup .popup-box .input-bar .serch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 2em;
  width: 50%;
  padding: 6px;
}

.add-popup .popup-box .input-bar .serch-box i {
  color: #333333;
}

.add-popup .popup-box .input-bar .serch-box .search-input {
  margin: 0 6px;
  border-color: transparent;
}

.add-popup .popup-box .add-bar .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #1e3056;
}

.add-popup .popup-box .add-bar .add-button i {
  color: white;
}

.add-popup .popup-box .item-continer-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-popup .popup-box .item-continer-box .item-box {
  height: 350px;
  overflow-x: auto;
  width: calc(100% / 3);
  border-left: 1px solid black;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar {
  width: 4px;
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-popup .popup-box .item-continer-box .item-box:first-of-type {
  border-left: 0;
}

.add-popup .popup-box .item-continer-box .item-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  cursor: pointer;
}

.add-popup .popup-box .item-continer-box .item-box li:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.add-popup .popup-box .item-continer-box .item-box li.active {
  background-color: rgba(51, 51, 51, 0.2);
}

.add-popup .popup-box .item-continer-box .item-box li:last-of-type {
  border-bottom: 0;
}

.add-popup .popup-box .item-continer-box .item-box li .title-lable {
  padding: 0 0 0 6px;
  font-size: 14px;
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box li i {
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .list-title {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 10px;
  color: black;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.add-popup .popup-box .item-continer-box .item-box .min-list li.active {
  background-color: rgba(51, 51, 51, 0.3);
}

.add-popup .popup-box .item-continer-box .item-box .min-list li:last-of-type {
  border-bottom: 0;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li .title-lable {
  padding: 0 0 0 6px;
  font-size: 14px;
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li i {
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li .title-lable {
  font-size: 12px;
  font-weight: 600;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li i {
  font-size: 12px;
  color: red;
}

.add-popup .popup-box .button-bar {
  padding: 10px 30px;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}

.pro-box.pretty .state label:after {
  background-color: #1e3056;
  right: 0;
  top: 1px !important;
  width: 24% !important;
  height: 100% !important;
  -webkit-transform: unset !important;
          transform: unset !important;
  text-align: right;
}

.tipped-box {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.tipped-box hr {
  margin: 0 -65px !important;
}

.tipped-box .title-box .img-box {
  margin: 0 10px 0 0;
}

.tipped-box .title-box .img-box img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.tipped-box .title-box .title-item-box .title-item {
  font-size: 18px;
  font-weight: 600;
}

.tipped-box .title-box .title-item-box .prag-item {
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
}

.tipped-box .title-box .title-item-box .list-item a {
  text-decoration: none;
  font-size: 16px;
  color: #000061;
  font-weight: 600;
  margin: 0 10px;
}

.tipped-box .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.tipped-box .number-box .number-item-box {
  text-align: start;
}

.tipped-box .number-box .number-item-box .number-title-item {
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.918);
  display: block;
  margin: 0 0 6px;
}

.tipped-box .number-box .number-item-box .number-item {
  color: rgba(0, 47, 90, 0.795);
  font-size: 14px;
  font-weight: 700;
}

.tipped-box .button-box {
  padding: 20px 0 0;
  display: inline-block;
}

.tipped-box .button-box a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #004586;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.tipped-box .button-box a span {
  display: inline-block;
}

.tipped-box .button-box a i {
  margin: 0 6px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}
