p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background: linear-gradient(190deg, white 0%, #ddd 100%);
  padding: 0 0  60px;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
}

html[dir="ltr"] body {
  font-family: "Arial", sans-serif;
}

html[dir="ltr"] body {
  font-family: "Almarai", sans-serif;
}

body.pad_cus {
  padding: 0 60px 20px;
}

body:after {
  opacity: 0.1;
  background-image: url("../img/bodyback.png");
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  z-index: -1;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #000;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}

input:-ms-input-placeholder {
  font-size: 14px;
}

input::-ms-input-placeholder {
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

input:focus {
  outline: none;
  border: 1px solid #1e3056;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 50px;
}

button:focus {
  outline: none;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.select2 {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2-container .select2-selection__arrow {
  top: 5px !important;
}

.pretty {
  cursor: pointer;
}

.pretty .state label:before, .pretty .state label:after {
  top: 0 !important;
}

html[dir="rtl"] .pretty .state label:before, html[dir="rtl"] .pretty .state label:after {
  left: unset;
  right: 0;
}

.status_active {
  color: #02cc02;
}

.status_disactive {
  color: #ba2c63;
}

.status_inProssec {
  color: #fab118;
}

.Customm0 {
  margin: 0 -15px;
}

.pretty.p-default input:checked ~ .state label:after {
  background-color: #1e3056 !important;
}

.lang-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.lang-box .lang_content {
  border-radius: 4px;
  padding: 2px 4px;
  border: 1px solid #1e3056;
}

.lang-box .lang_content a {
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  color: #1e3056;
}

.lang-box .lang_content a.active {
  color: white;
  background-color: #1e3056;
}

.sucond_table {
  margin: 0 0 20px;
}

.sucond_table tbody td {
  background-color: #ddd;
  border: 1px solid #00000030;
  border-collapse: collapse;
}

.sucond_table tbody td.has_link {
  background-color: transparent;
  padding: 2px !important;
}

table.dataTable thead th,
table.dataTable tfoot th,
table.dataTable tbody th,
table.dataTable tbody td {
  font-size: 13px;
}

.dataTables_wrapper {
  overflow-x: auto;
}

td.details-control {
  background: url("../img/details_open.png") no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url("../img/details_close.png") no-repeat center center;
}

.dataTable tr {
  border-bottom: 1px solid #00000030;
}

.dataTable tr .pop_up_opener {
  cursor: pointer;
}

.dataTable tr .pop_up_opener i {
  color: #1e3056;
}

.dataTable .table_link {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #1e3056;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  border-radius: 4px;
}

.dataTable .table_link:hover {
  background-color: #ba2c63;
}

.data-label .item-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.data-label .item-box .img-box {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.data-label .item-box .img-box img {
  width: 100%;
  height: 100%;
}

.data-label .item-box .item-name {
  color: #183444;
  font-weight: 500;
  text-overflow: ellipsis;
  font-size: 14px;
}

.prag-table {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  padding-right: 8px;
  white-space: normal;
  font-weight: 400;
  display: block;
  width: 100%;
  white-space: wrap;
}

.show_lable select {
  width: 19px;
  border: 0;
  cursor: pointer;
}

.show_lable select:focus {
  outline: none;
}

.show_lable select * {
  width: 50px;
  padding: 5px;
  border: 0;
}

.th_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tipped-box {
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.tipped-box hr {
  margin: 0 -65px !important;
}

.tipped-box .title-box .img-box {
  margin: 0 10px 0 0;
}

.tipped-box .title-box .img-box img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.tipped-box .title-box .title-item-box .title-item {
  font-size: 18px;
  font-weight: 600;
}

.tipped-box .title-box .title-item-box .prag-item {
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
}

.tipped-box .title-box .title-item-box .list-item a {
  text-decoration: none;
  font-size: 16px;
  color: #000061;
  font-weight: 600;
  margin: 0 10px;
}

.tipped-box .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.tipped-box .number-box .number-item-box {
  text-align: start;
}

.tipped-box .number-box .number-item-box .number-title-item {
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.918);
  display: block;
  margin: 0 0 6px;
}

.tipped-box .number-box .number-item-box .number-item {
  color: rgba(0, 47, 90, 0.795);
  font-size: 14px;
  font-weight: 700;
}

.tipped-box .button-box {
  padding: 20px 0 0;
  display: inline-block;
}

.tipped-box .button-box a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #004586;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.tipped-box .button-box a span {
  display: inline-block;
}

.tipped-box .button-box a i {
  margin: 0 6px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.table-box {
  padding: 20px;
}

.tap_heade {
  background-color: #e9eff5;
}

.tabes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9eff5;
}

.tabes-box .tabs-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  position: relative;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

html[dir="ltr"] .tabes-box .tabs-item {
  margin: 0 10px 0 0;
}

html[dir="rtl"] .tabes-box .tabs-item {
  margin: 0 0 0 10px;
}

.tabes-box .tabs-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.tabes-box .tabs-item:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 10px;
  z-index: 2;
  opacity: 0;
}

.tabes-box .tabs-item.active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tabes-box .tabs-item.active .tab-title {
  font-size: 16px;
  font-weight: 590;
}

.tabes-box .tabs-item.active:after {
  opacity: 1;
}

.tabes-box .tabs-item svg {
  height: 16px;
  fill: #183444;
  padding: 0 4px;
}

.tab-title {
  font-size: 16px;
  color: #183444;
  font-weight: 500;
}

.add-popup {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-popup .popup-box {
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 600px;
  overflow: hidden;
  background-color: white;
}

.add-popup .popup-box .title-box {
  background-color: #1e3056;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
  text-align: center;
}

.add-popup .popup-box .title-box i {
  cursor: pointer;
}

.add-popup .popup-box .input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px 30px;
  background-color: #dddddd;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

.add-popup .popup-box .input-bar label {
  padding: 0 4px;
  font-weight: 700;
  color: black;
  margin: 0;
}

.add-popup .popup-box .input-bar .serch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 2em;
  width: 50%;
  padding: 6px;
}

.add-popup .popup-box .input-bar .serch-box i {
  color: #333333;
}

.add-popup .popup-box .input-bar .serch-box .search-input {
  margin: 0 6px;
  border-color: transparent;
}

.add-popup .popup-box .add-bar .add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #1e3056;
}

.add-popup .popup-box .add-bar .add-button i {
  color: white;
}

.add-popup .popup-box .item-continer-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-popup .popup-box .item-continer-box .item-box {
  height: 350px;
  overflow-x: auto;
  width: calc(100% / 3);
  border-left: 1px solid black;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar {
  width: 4px;
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
}

.add-popup .popup-box .item-continer-box .item-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-popup .popup-box .item-continer-box .item-box:first-of-type {
  border-left: 0;
}

.add-popup .popup-box .item-continer-box .item-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  cursor: pointer;
}

.add-popup .popup-box .item-continer-box .item-box li:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.add-popup .popup-box .item-continer-box .item-box li.active {
  background-color: rgba(51, 51, 51, 0.2);
}

.add-popup .popup-box .item-continer-box .item-box li:last-of-type {
  border-bottom: 0;
}

.add-popup .popup-box .item-continer-box .item-box li .title-lable {
  padding: 0 0 0 6px;
  font-size: 14px;
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box li i {
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .list-title {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 10px;
  color: black;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.add-popup .popup-box .item-continer-box .item-box .min-list li.active {
  background-color: rgba(51, 51, 51, 0.3);
}

.add-popup .popup-box .item-continer-box .item-box .min-list li:last-of-type {
  border-bottom: 0;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li .title-lable {
  padding: 0 0 0 6px;
  font-size: 14px;
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .min-list li i {
  color: #333333;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li .title-lable {
  font-size: 12px;
  font-weight: 600;
}

.add-popup .popup-box .item-continer-box .item-box .last-one li i {
  font-size: 12px;
  color: red;
  cursor: pointer;
}

.add-popup .popup-box .button-bar {
  padding: 10px 30px;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}

.add-popup .popup-box .button-bar .buttom_style {
  background-color: #1e3056;
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  color: white;
  position: relative;
}

.add-popup .popup-box .button-bar .buttom_style::after, .add-popup .popup-box .button-bar .buttom_style::before {
  content: "";
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
  background-color: #1e3056;
}

.add-popup .popup-box .button-bar .buttom_style::after {
  height: 2px;
  width: 0;
}

.add-popup .popup-box .button-bar .buttom_style::before {
  height: 0;
  width: 2px;
}

.add-popup .popup-box .button-bar .buttom_style .borderSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.add-popup .popup-box .button-bar .buttom_style .borderSpan::after, .add-popup .popup-box .button-bar .buttom_style .borderSpan::before {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
  background-color: #1e3056;
}

.add-popup .popup-box .button-bar .buttom_style .borderSpan::after {
  height: 2px;
  width: 0;
}

.add-popup .popup-box .button-bar .buttom_style .borderSpan::before {
  height: 0;
  width: 2px;
}

.add-popup .popup-box .button-bar .buttom_style:hover {
  background-color: white;
  color: #1e3056;
}

.add-popup .popup-box .button-bar .buttom_style:hover .borderSpan::after {
  width: 100%;
}

.add-popup .popup-box .button-bar .buttom_style:hover .borderSpan::before {
  height: 100%;
}

.add-popup .popup-box .button-bar .buttom_style:hover::after {
  width: 100%;
}

.add-popup .popup-box .button-bar .buttom_style:hover::before {
  height: 100%;
}

.filter_opne_button {
  text-align: center;
  display: none;
  padding-inline: 20px;
}

.filter_opne_button .opne_botton {
  width: 100%;
  cursor: pointer;
}

.filter-box-aside {
  padding: 24px 14px 10px;
  background-color: white;
  position: relative;
  height: 100%;
}

.filter-box-aside .close-button {
  display: none;
  color: #1e3056;
  font-size: 24px;
  cursor: pointer;
}

.filter-box-aside .tab-title {
  font-weight: 700;
  font-size: 20px;
}

.filter-box-aside .filter_collapse {
  height: 100%;
}

.filter-box-aside .filter_collapse ul {
  padding: 14px 0;
}

.filter-box-aside .filter_collapse ul li {
  display: block;
  border-bottom: 0.7px solid rgba(30, 48, 86, 0.7);
}

.filter-box-aside .filter_collapse ul li:first-of-type {
  border-top: 0.7px solid rgba(30, 48, 86, 0.7);
}

.filter-box-aside .filter_collapse ul li:hover {
  background-color: rgba(30, 48, 86, 0.05);
}

.filter-box-aside .filter_collapse ul li .collopse-link {
  padding: 14px 0;
  display: block;
}

.filter-box-aside .filter_collapse ul li .collopse-link[aria-expanded="true"] i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter-box-aside .filter_collapse ul li .collopse-link .link_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-box-aside .filter_collapse ul li .collopse-link .link_content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-box-aside .filter_collapse ul li .collopse-link .link_content .box svg {
  height: 20px;
}

.filter-box-aside .filter_collapse ul li .collopse-link .link_content .box .title-text {
  font-size: 16px;
  font-weight: 50;
  color: #1e3056;
  margin: 0 6px;
}

.filter-box-aside .filter_collapse ul li .collopse-link .link_content i {
  color: #1e3056;
  width: 25px;
  height: 25px;
  border: 2px solid #1e3056;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-box-aside .filter_collapse ul li .filter-box-content {
  -webkit-box-shadow: inset 0px 8px 3px -6px rgba(30, 48, 86, 0.5);
          box-shadow: inset 0px 8px 3px -6px rgba(30, 48, 86, 0.5);
  background-color: #ebf7fb;
  padding: 10px;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item {
  padding: 6px 0;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item:hover .exclamation-mark {
  opacity: 1;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .title-labe {
  margin: 0 0 4px;
  font-weight: 590;
  font-size: 14px;
  color: #1e3056;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .exclamation-mark {
  font-size: 13px;
  color: #333333;
  opacity: 0;
  cursor: pointer;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .input-group_custom {
  border-radius: 5px;
  padding: 0 4px;
  border: 2px solid rgba(30, 48, 86, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .input-group_custom i {
  margin: 0 4px;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .input-group_custom input {
  padding: 0;
  border: 0px;
  width: 70px;
  background-color: transparent;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box input {
  border-radius: 5px;
  padding: 0 4px;
  border: 2px solid rgba(30, 48, 86, 0.2);
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box input:focus {
  border-color: rgba(0, 0, 255, 0.8);
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .rangSlider {
  margin: 30px 0 0;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .sliser-value {
  font-size: 12px;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .pretty {
  display: block;
  margin: 10px 0;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .pretty .state label {
  font-size: 14px;
  color: #1e3056;
}

.filter-box-aside .filter_collapse ul li .filter-box-content .filter-box-item .input-box .pretty .state label:before {
  background-color: white !important;
}

.note-ul {
  padding: 10px 0;
}

.note-ul .text {
  margin: 10px 0 5px;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  display: block;
}

.link-box, .filter_opne_button .opne_botton {
  display: inline-block;
  padding: 5px 20px;
  margin: 10px 0 0;
  border: 1px solid #486fc4;
  border-radius: 5px;
  color: #0d6efd;
}

.link-box:hover, .filter_opne_button .opne_botton:hover {
  background-color: rgba(72, 111, 196, 0.1);
}

.noUi-target {
  height: 8px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.noUi-horizontal .noUi-handle:after, .noUi-horizontal .noUi-handle::before {
  display: none;
}

.noUi-connect {
  background-color: #1e3056;
}

.noUi-tooltip {
  font-size: 12px;
}

.rangSlider {
  width: 90%;
}

.duple_input .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duple_input .input-box input {
  width: 100px;
}

.duple_input .under-duple {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

.show_hidden_bottom {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show_hidden_bottom i {
  font-size: 10px;
  padding: 0 4px;
}

.show_hidden_bottom:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.fliter-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clear-filter {
  padding: 8px 24px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  color: #0a58ca;
}

.clear-filter:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

.register_wallpeper_box {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center bottom;
}

.register_form_box .wizard ul[role="tablist"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #333333;
}

.register_form_box .wizard ul[role="tablist"] li {
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
}

.register_form_box .wizard ul[role="tablist"] li.current a {
  color: #486fc4;
}

.register_form_box .wizard ul[role="tablist"] li.current a::after {
  opacity: 1;
}

.register_form_box .wizard ul[role="tablist"] li.done a {
  color: #333333;
}

.register_form_box .wizard ul[role="tablist"] li a {
  padding-block: 14px;
  text-align: center;
  font-weight: 600;
  display: block;
  position: relative;
  color: #dddddd;
}

.register_form_box .wizard ul[role="tablist"] li a::after {
  content: "";
  opacity: 0;
  left: 0;
  bottom: -1px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #486fc4;
}

.register_form_box .wizard ul[role="tablist"] li a .number {
  display: none;
}

.register_form_box .wizard .step_content {
  padding: 34px 20px 24px;
}

.register_form_box .wizard .step_content .step_header {
  text-align: center;
}

.register_form_box .wizard .step_content .step_header .step_title {
  margin: 0 0 10px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.7);
  font-size: 34px;
}

.register_form_box .wizard .step_content .step_header .prag {
  padding: 5px 0;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
}

.register_form_box .wizard .step_content .boxs_componant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.register_form_box .wizard .step_content .boxs_componant .box_items {
  width: calc(25% - 30px);
  text-align: center;
  padding: 18px 0;
  margin: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
          box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  border-bottom: 1px solid rgba(51, 51, 51, 0);
}

.register_form_box .wizard .step_content .boxs_componant .box_items:hover {
  background-color: rgba(51, 51, 51, 0.1);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

.register_form_box .wizard .step_content .boxs_componant .box_items i {
  font-size: 50px;
  color: #1e3056;
}

.register_form_box .wizard .step_content .boxs_componant .box_items .box_title {
  padding: 10px 0 0;
  font-size: 14px;
  font-weight: 500;
  color: #1e3056;
}

.register_form_box .wizard .hiddin_form_new {
  padding: 20px 0 0;
}

.register_form_box .wizard .hiddin_form_new .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register_form_box .wizard .hiddin_form_new .form-group input {
  width: calc(100% - 100px);
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0;
}

.register_form_box .wizard .hiddin_form_new .form-group button {
  padding: 10px 20px;
  border-radius: 0;
  background-color: rgba(51, 51, 51, 0.1);
  color: rgba(51, 51, 51, 0.7);
}

.register_form_box .wizard h3.title {
  display: none;
}

.register_form_box ul[aria-label="Pagination"] {
  display: none;
}

.form-group {
  margin-block: 30px;
}

.form-group .lable_select {
  font-size: 16px;
  font-weight: 600;
  color: #dddddd;
}

.form-group .checkbox_lable {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #333333;
  margin-block: 0 20px;
}

.form-group .margin_in {
  margin-block: 20px;
}

.form-group.border-custom-0 .select2-container .select2-selection--single {
  border: 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7) !important;
  border-radius: 0;
}

.form-group.border-custom-0 .select2-container--default .select2-selection--multiple {
  border: 0 !important;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7) !important;
  border-radius: 0 !important;
}

.select2-dropdown .opstion_style_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select2-dropdown .icon-select-add {
  color: rgba(30, 48, 86, 0.4);
  width: 20px;
  height: 20px;
  border: 2px solid rgba(30, 48, 86, 0.4);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2-dropdown .img_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select2-dropdown .img_title .select_img {
  height: 34px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin: 0 4px;
}

.select2-dropdown .img_title h4 {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 500;
}

.select2-dropdown .img_title h4.bold_title {
  font-size: 13px;
  color: #333333;
  font-weight: 560;
}

.button_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button_banner span {
  cursor: pointer;
  text-transform: uppercase;
}

.button_banner .skip_button {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 10px 18px;
}

.button_banner .skip_button:hover {
  -webkit-box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
          box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
}

.button_banner .see_recommendations {
  font-size: 16px;
  padding: 10px 18px;
  background-color: #486fc4;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

.profiles_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profiles_box .profiles_item {
  width: 33%;
  margin-block: 20px;
}

.profiles_box .profiles_item .pretty .state label:before, .profiles_box .profiles_item .pretty .state label:after {
  top: 10px !important;
}

.profiles_box .profiles_item .pretty .state label img {
  height: 40px;
  -webkit-box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
          box-shadow: 0 4px 8px -2px rgba(51, 51, 51, 0.4);
  border-radius: 5px;
}

.profiles_box .profiles_item .pretty .state label .text {
  font-size: 18px;
  font-weight: 550;
  color: #1e3056;
  margin: 0 10px;
}

.page_banner_title {
  padding: 20px 0;
  background-color: #dddddd;
}

.page_banner_title .banner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_banner_title .banner_content .button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_banner_title .banner_content .button_box .title_text {
  font-size: 20px;
  font-weight: 550;
  color: black;
}

.page_banner_title .banner_content .button_box .button_item {
  font-size: 15px;
  font-weight: 550;
  background-color: white;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.page_banner_title .banner_content .button_box .button_item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: -1;
}

.page_banner_title .banner_content .button_box .button_item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition-timing-function: cubic-bezier(1, 0.63, 0.57, 1) !important;
          transition-timing-function: cubic-bezier(1, 0.63, 0.57, 1) !important;
  width: 0;
  z-index: -1;
}

.page_banner_title .banner_content .button_box .button_item:hover:after, .page_banner_title .banner_content .button_box .button_item:hover:before {
  width: 50%;
}

.page_banner_title .banner_content .button_box .button_item i {
  font-size: 12px;
}

html[dir="ltr"] .page_banner_title .banner_content .button_box .button_item i {
  padding: 0 16px 0 0;
}

html[dir="rtl"] .page_banner_title .banner_content .button_box .button_item i {
  padding: 0 0 0 16px;
}

.page_banner_title .banner_content .button_box .button_item.blue_item {
  color: #486fc4;
  border-color: #486fc4;
}

.page_banner_title .banner_content .button_box .button_item.blue_item:after, .page_banner_title .banner_content .button_box .button_item.blue_item:before {
  background-color: #486fc4;
}

.page_banner_title .banner_content .button_box .button_item.blue_item:hover {
  color: white;
}

.page_banner_title .banner_content .button_box .button_item.gold_item {
  color: #fab118;
  border-color: #fab118;
}

.page_banner_title .banner_content .button_box .button_item.gold_item:after, .page_banner_title .banner_content .button_box .button_item.gold_item:before {
  background-color: #fab118;
}

.page_banner_title .banner_content .button_box .button_item.gold_item:hover {
  color: white;
}

.body_box {
  padding: 60px 0;
}

.body_box .body_content {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.dataTable .table_link, .add-popup .popup-box .item-continer-box .item-box li, .add-popup .popup-box .item-continer-box .item-box li .title-lable, .add-popup .popup-box .item-continer-box .item-box li i, .add-popup .popup-box .item-continer-box .item-box .min-list li, .add-popup .popup-box .item-continer-box .item-box .min-list li .title-lable, .add-popup .popup-box .item-continer-box .item-box .min-list li i, .add-popup .popup-box .button-bar .buttom_style, .add-popup .popup-box .button-bar .buttom_style::after, .add-popup .popup-box .button-bar .buttom_style::before, .add-popup .popup-box .button-bar .buttom_style .borderSpan::after, .add-popup .popup-box .button-bar .buttom_style .borderSpan::before, .filter-box-aside .filter_collapse ul li, .filter-box-aside .filter_collapse ul li .collopse-link .link_content i, .link-box, .filter_opne_button .opne_botton, .show_hidden_bottom, .clear-filter, .register_form_box .wizard ul[role="tablist"] li a, .register_form_box .wizard ul[role="tablist"] li a::after, .register_form_box .wizard .step_content .boxs_componant .box_items, .select2-dropdown .icon-select-add, .button_banner .skip_button, .page_banner_title .banner_content .button_box .button_item, .page_banner_title .banner_content .button_box .button_item:after, .page_banner_title .banner_content .button_box .button_item::before {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
