@import "vars", "minCLasss", "tableStyle", "tabesStyle";

// subscriptions_section
.subscriptions_section {
  padding: 60px 0 0;
  .subscriptions_min_box {
    background-color: $white-color;
    border-radius: 4px;

    box-shadow: 0px 6px 10px rgba($black-color, 0.1);
    .min_title_box {
      padding: 0 0 10px 0;
      border-bottom: 1px solid #ddd;
      margin: 0 0 20px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      &.one_item {
        justify-content: center;
      }

      .title {
        font-size: 22px;
        font-weight: 600;
        color: rgba($min-color, 1);
      }
    }

    .subscriptions_box {
      padding: 10px 0 0;
      box-shadow: 0 3px 8px 0px rgba($min-color, 0.3);
      border-radius: 4px;
      overflow: hidden;
      margin: 5px 0;
      @extend%trans-4;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 3px 10px 0px rgba($min-color, 0.5);
      }
      .subscriptions_box_content {
        padding: 10px;
        text-align: center;

        img {
          height: 66px;
          margin: 0 0 22px;
        }

        .title_text {
          color: $min-color;
          i {
            font-size: 20px;
            padding: 0 3px;
          }
          .text {
            font-size: 20px;
            font-weight: bold;
          }
        }

        .number_box {
          display: flex;
          justify-content: space-around;
          padding: 10px 0;
        }

        .date_title {
          color: $min-color;
          i {
            font-size: 14px;
            padding: 0 3px;
          }
          .text {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .button_box {
        display: flex;

        border-bottom: 1px solid $white-color;
        a {
          &:last-of-type {
            border-right: 1px solid $white-color;
          }
        }
      }

      .box_link {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 6px 2px;
        background-color: rgba($min-color, 1);
        color: $white-color;
        text-align: center;
        @extend%trans-4;
        align-items: center;
        &:hover {
          background-color: $sub_color;
        }
        &.red-one {
          background-color: rgba($sub_color, 0.9);
          &:hover {
            background-color: $sub_color;
          }
        }
        &.green-one {
          background-color: rgba($blue-color, 0.9);
          &:hover {
            background-color: rgba($min-color, 1);
          }
        }
        &.gold-one {
          background-color: rgba($gold-color, 0.7);
          font-weight: 600;
          color: rgba($min-color, 1);
          &:hover {
            background-color: $gold-color;
          }
        }
        .text_title {
          font-size: 16px;
        }
        .number_text {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
// subscriptions_section

// to extent

%trans-4 {
  transition: 0.4s all ease-in-out;
}


.table-box{
  padding: 20px;
}


.add-popup {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba($black-color, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  .popup-box {
    border-radius: 5px;
    width: 600px;
    overflow: hidden;
    background-color: rgba($white-color, 1);
    .title-box {
      background-color: rgba($min-color, 1);
      color: rgba($white-color, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;
      text-align: center;
      i {
        cursor: pointer;
      }
    }
    .input-bar {
      display: flex;
      align-items: center;
      label {
        padding: 0 4px;
        font-weight: 700;
        color: rgba($black-color, 1);
        margin: 0;
      }
      width: 100%;
      padding: 5px 30px;
      background-color: rgba($gray-color, 1);
      border-bottom: 1px solid rgba($darkgray-color, 0.5);
      .serch-box {
        display: flex;
        background-color: rgba($white-color, 1);
        border-radius: 5px;
        border: 1px solid rgba($black-color, 0.3);
        height: 2em;
        width: 50%;
        padding: 6px;
        i {
          color: rgba($darkgray-color, 1);
        }
        .search-input {
          margin: 0 6px;
          border-color: transparent;
        }
      }
    }

    .add-bar {
      .add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-size: 10px;
        border-radius: 5px;
        background-color: rgba($min-color, 1);
        i {
          color: rgba($white-color, 1);
        }
      }
    }

    .item-continer-box {
      flex-wrap: wrap;
      display: flex;
      .item-box {
        height: 350px;
        overflow-x: auto;
        width: calc(100% / 3);
        border-left: 1px solid rgba($black-color, 1);

        &::-webkit-scrollbar {
          width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgba($black-color, 0.8);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        &:first-of-type {
          border-left: 0;
        }
        li {
          display: flex;
          align-items: flex-end;

          padding: 10px;
          cursor: pointer;
          @extend%trans-4;
          &:hover {
            background-color: rgba($darkgray-color, 0.1);
          }
          &.active {
            background-color: rgba($darkgray-color, 0.2);
          }
          &:last-of-type {
            border-bottom: 0;
          }
          .title-lable {
            padding: 0 0 0 6px;
            @extend%trans-4;
            font-size: 14px;
            color: rgba($darkgray-color, 1);
          }
          i {
            @extend%trans-4;
            color: rgba($darkgray-color, 1);
          }
        }

        .list-title {
          font-size: 20px;
          font-weight: 600;
          padding: 15px 10px;
          color: rgba($black-color, 1);
        }

        .min-list {
          li {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 15px 10px;
            cursor: pointer;
            @extend%trans-4;
            &:hover {
              background-color: rgba($darkgray-color, 0.1);
            }
            &.active {
              background-color: rgba($darkgray-color, 0.3);
            }
            &:last-of-type {
              border-bottom: 0;
            }
            .title-lable {
              padding: 0 0 0 6px;
              @extend%trans-4;
              font-size: 14px;
              color: rgba($darkgray-color, 1);
            }
            i {
              @extend%trans-4;
              color: rgba($darkgray-color, 1);
            }
          }
        }
        .last-one {
          li {
            justify-content: space-between;
            .title-lable {
              font-size: 12px;
              font-weight: 600;
            }
            i {
              font-size: 12px;
              color: red;
            }
          }
        }
      }
    }
    .button-bar {
      padding: 10px 30px;
      border-top: 1px solid rgba($darkgray-color, 0.5);
    }
  }
}

.pro-box {
  &.pretty {
    .state {
      label {
        &:after {
          background-color: rgba($min-color, 1);
          right: 0;
          top: 1px !important;
          width: 24% !important;
          height: 100% !important;
          transform: unset !important;
          text-align: right;
        }
      }
    }
  }
}
